body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --clr-shade1: rgb(141, 135, 65);
  --clr-shade2: rgb(101, 157, 189);
  --clr-shade3: rgb(218, 173, 134);
  --clr-shade4: rgb(188, 152, 106);
  --clr-shade5: rgb(251, 238, 193);
  --clr-shade-red: rgb(255, 75, 75);
  --clr-shade-green: rgb(197, 248, 94);
  --clr-bg: rgb(252, 249, 239);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

.main-container {
  font-family: "Roboto", sans-serif;
  width: 95%;
  max-width: 600px;
  /* margin: 5rem auto; */
  margin: 1rem auto;
}

@media (min-width: 425px) {
  .main-container {
    width: 80%;
    margin: 2rem auto;
  }
}

.main-container > section {
  margin: 3rem 0;
}

.main-container > h2 {
  display: inline-block;
  margin: 1.5rem auto 0 auto;
}

.balance-container > h3 {
  font-size: 1rem;
  text-transform: uppercase;
}

.balance {
  font-size: 1.7rem;
}

.income-expense-container {
  display: flex;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 3px rgb(155, 155, 155);
  margin-top: 1rem;
  text-transform: uppercase;
}

.income,
.expense {
  width: 50%;
  text-align: center;
  padding: 0.5rem;
  margin: 1rem 0;
}

.expense > p:last-child {
  margin-top: 0.2rem;
  color: var(--clr-shade-red);
}

.income > p:last-child {
  margin-top: 0.2rem;
  color: green;
}

.income {
  border-right: 1px solid rgb(155, 155, 155);
}

.history-container > h2,
.transaction-container > h2 {
  padding-bottom: 0.3rem;
  border-bottom: 1px solid rgb(155, 155, 155);
}

.history-el {
  width: 100%;
  padding: 1rem 0.4rem;
  margin-top: 1rem;
  display: flex;
  background-color: white;
  align-items: center;
  box-shadow: 0 0 3px rgb(155, 155, 155);
}

.history-el > p:first-child {
  width: 100%;
}

.history-el > p:last-child {
  margin-right: 0.5rem;
}

.history-el.gain {
  border-right: 5px solid green;
}

.history-el.spend {
  border-right: 5px solid var(--clr-shade-red);
}

.transaction-form {
  margin: 1rem 0 4rem 0;
}

.transaction-form > label {
  display: block;
  margin-top: 1.5rem;
  font-weight: 700;
}

.transaction-form > input {
  display: block;
  width: 100%;
  padding: 0.6rem;
  margin: 0.5rem 0;
  border: none;
  box-shadow: 0 0 3px rgb(155, 155, 155);
}

.btn {
  display: block;
  width: 100%;
  background-color: rgb(218, 145, 218);
  border: none;
  font-size: 1rem;
  padding: 0.7rem;
  color: white;
  font-weight: 700;
  margin-top: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 1px;
}

.btn:hover {
  background-color: green;
  box-shadow: none;
}

.btn.btn-red {
  width: 150px;
  margin-left: auto;
}

.btn.btn-red:hover {
  background-color: var(--clr-shade-red);
  box-shadow: none;
}

.del-el {
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  color: var(--clr-shade-red);
  font-size: 0.9rem;
}

.btn-delete {
  width: 21px;
  height: 22px;
  font-size: 1.3rem;
  margin-left: 0.9rem;
  cursor: pointer;
}

.btn-delete:hover {
  color: red;
}
